{% extends 'base.html' %}
{% block title %}DELETE‽{% endblock %}
{% block header %}{{ user.first_name }}, are you sure you want to delete yourself‽{% endblock %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-2 col-lg-3"></div>
      <div class="col col-md-8 col-lg-6">
        <h2>deleting your user will also delete all of your feedback</h2>
        <form action="/users/{{ user.username }}/delete" novalidate>
          {{ form.hidden_tag() }}
          {% for field in form 
            if field.widget.input_type != 'hidden' %}
            <div class="form-group">
              {{ field.label(class_="border-warning text-danger") }}
              {{ field(class_="form-control")}}
              {% for error in form.errors %}
              <span class="d-block text-warning">{{ error }}</span>
              {% endfor %}
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary form-control my-3">DELETE</button>
        </form>
        <br>
        <a href="/users/{{ user.username }}" class="btn btn-success">never mind, return to my user page</a>
      </div>
      <div class="col col-md-2 col-lg-3"></div>
    </div>
  </div>
{% endblock %}