{% extends 'base.html' %}
{% block title %}{{ new_or_edit }} Feedback{% endblock %}
{% block header %}{{ new_or_edit }} Feedback{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="d-none d-md-block col col-md-2 col-lg-3"></div>
      <div class="col col-md-8 col-lg-6">
        <form action="/users/{{ user.username }}/feedback/{{ add_or_update }}" method="POST" novalidate>
            {{ form.hidden_tag() }}
            {% for field in form 
                if field.widget.input_type != 'hidden' %}
                <div class="form-group">
                    {{ field.label }}
                    {{ field(class_="form-control")}}
                    {% for error in form.errors %}
                        <span class="d-block text-warning">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary form-control my-3">post feedback</button>
        </form>
        </div>
      <div class="d-none d-md-block col col-md-2 col-lg-3"></div>
    </div>
  </div>
{% endblock %}
